

body{
    width: 100%;
    height:100vh;
    background-image: url(../images/background.jpg);  
    background-position: center center; 
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-size: cover;
    font-family: "Sawarabi Gothic";
}

.hd-bg{
    background: rgba(0,0,0,0.7);
}

.o-0{
    opacity:0;
}

.o-25{
    opacity:0.25;
}
.o-50{
    opacity:0.5;
}
.o-75{
    opacity:0.75;
}
.o-100{
    opacity:1;
}

.bg-none{
    background-image:none;
}

.h-logo{
    width:100px;
}
